@charset "UTF-8";

h1,h2, h3{
    font-family: "National Park", sans-serif;
}



#logo-enterprise{

    color: white;
    font-family: "National Park", sans-serif;
    letter-spacing: 5px;
   
}
#logo-enterprise::before{
    content: "</>";
    background-color: #5320AB;
    color: #9B56FE;
    margin-right:10px ;
    font-family: "National Park", sans-serif!important;
    font-size: 20px;
    border-radius: 5px; 
    font-weight: bold;
    text-align: center;
    padding-left: 5px;
}


    

/*Bootstrap*/

.btn-primary{
    background-color: #5320AB;
    color: white;
    border: #5320AB;
    transition: background-color 0.3s ease, border-color 0.3s ease;

    
}

.btn-primary:hover{
    background-color: #8e41fa;
    color: white;
    
}

.btn.btn-primary:active{
    background-color: #9d59fb ;
    color: white ;
}

.bg-dark{
    background-color: #181C22;
}


.text-title-color{
    color: #5320AB;
}


.text-sectiontitle-color{
    color: #21005a;
}

.link-steps{
    text-decoration: none;
    color: #5320AB;   
}

.link-steps:hover{
    text-decoration: none;
    color: #8e41fa;   
}

.link-steps:active{
    text-decoration: none;
    color: #9d59fb;   
}


.effect {
   
    transition: all 0.5s ease;
    
}

.effect:hover {
    background-color: #f2ecf9;
    transform: scale(1.05);
    box-shadow: 0px 0px 6px 0px  rgba(65, 65, 65, 0.562);
    
}




